.datepicker {
  position: relative;
  display: inline-block;
}

.datepicker * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */  
}

.dateinput {
  width: 140px;
  height: 35px;
  overflow: hidden;
  border-radius: 20px;
}

.dateinput input:focus{
  outline: none;
}

.dateinput input{
  width: 130%;
  background: #f5f5f5;
  border: none;
  padding-right: 10px;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  cursor: pointer;
}

.datepanel {
  position: absolute;
  left:0;
  top: 40px;
  width: 280px;
  background: #fff;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 2px 16px;
}

/**
* panel head
*/

.datepanel-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid purple;
  padding-left: 16px;
}

.datepanel-head > div.month-display {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.datepanel-head .month-changer {
  display: flex;
}

.month-changer > div {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-changer > div:hover {
  background: #f4f4f4;
}

.month-changer > div > span {
  width: 6px;
  height: 6px;
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
}

.month-changer > div:first-child > span {
  transform: rotate(45deg);
}

.month-changer > div:last-child > span {
  transform: rotate(225deg);
}

/**
*  panel body (calcendar)
*/

.calendar {
  border: 1px solid orange;
  margin-top: 4px;
}

/* weekday */
.calendar > div:first-child {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 4px;
}

.calendar > div:first-child > div {
  width: 14.285%;
  font-weight: bold;
  color: #666;
  font-size: 12px;
  text-align: center;
}

/* days */

.calendar > div:last-child {
  display: flex;
  flex-wrap: wrap;
}

.day-container {
  width: 14.285%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid orange; */
}

.day-container.disabled {
  pointer-events: none;
}

.day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  color: #444;
}

.day:hover {
  cursor: pointer;
  background: #eee;
}

.day-container.disabled .day {
  color: #ddd;
}

.day-container.highlight .day {
  background: #d4e2cb;
}